.idea/
*.ipr
*.iml
*.iws
gradle.properties
.gradle/
build/
.project
.classpath
/bin/
.settings/
src/generated/
.DS_Store
/*.cache-tests
/*.cache-main
.factorypath
.springBeans
*.ids
*.bak
*.log*
/.apt_generated/
/*.class
