<div class="container">
	<br /> <br /> <br />
	<!-- <h3>
		<center>Delete Doctor Details</center>
	</h3> -->
	<form class="form-horizontal" role="form">

		<div class="form-group">
			<label class="control-label col-sm-2" for="name">Doctor Id:</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="name"
					ng-model="doctor.doctorId" placeholder="Enter Id">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Mobile
				Number:</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="mobile"
					ng-model="doctor.doctorNumber" placeholder="Enter mobile number">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Adhaar
				Number:</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="adhaar"
					ng-model="doctor.doctorAdhaarNumber"
					placeholder="Enter adhaar number">
			</div>
		</div>
		<!-- -----------------------delete doctor button------------------------- -->

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-success" ng-click="DoctorDelete(doctor)">
					<span class="glyphicon glyphicon-trash"></span> Delete Doctor
				</button>
			</div>
		</div>
		<!-- -----------------------delete doctor button------------------------- -->
	</form>
</div>