<div class="content-wrapper">
   <div class="al-content"></div>
   <div class="content-top clearfix">
      <h1 class="al-title ng-binding">Profile</h1>
   </div>
   <div ui-view autoscroll="true" autoscroll-body-top class="ng-scope">
      <div ba-panel ba-panel-class="profile-page">
         <div class="panel profile-page animated zoomIn">
            <div class="panel-body">
               <div class="panel-content">
                  <div class="progress-info">Your profile is 70% Complete</div>
                  <div class="progress">
                     <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                     </div>
                  </div>
                  <h3 class="page-header">General Information</h3>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group row clearfix">
                           <label for="inputFirstName" class="col-sm-3 control-label">Picture</label>
                           <div class="col-sm-9">
                              <div class="userpic">
                                 <div class="userpic-wrapper">
                                    <img ng-src="../pages/img/Nasta.png" ng-click="uploadPicture()" src="../pages/img/Nasta.png">
                                 </div>
                                 <!-- ngIf: !noPicture -->
                                 <i class="ion-ios-close-outline ng-scope" ng-click="removePicture()" ng-if="!noPicture"></i><!-- end ngIf: !noPicture --> 
                                 <a href="" class="change-userpic" ng-click="uploadPicture()">Change Profile Picture</a> <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)" class="ng-hide">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6"></div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group row clearfix">
                           <label for="inputFirstName" class="col-sm-3 control-label">Name</label>
                           <div class="col-sm-9">
                              <input type="text" class="form-control" id="inputFirstName" placeholder="" value="Anastasiya">
                           </div>
                        </div>
                        <div class="form-group row clearfix">
                           <label for="inputLastName" class="col-sm-3 control-label">Gender</label>
                           <div class="col-sm-9">
                              <input type="text" class="form-control" id="inputLastName" placeholder="" value="">
                           </div>
                        </div>
                         <div class="form-group row clearfix">
                           <label for="inputLastName" class="col-sm-3 control-label">Consulting Fees</label>
                           <div class="col-sm-9">
                              <input type="text" class="form-control" id="inputLastName" placeholder="" value="">
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group row clearfix">
                           <label for="inputRoom" class="col-sm-3 control-label">Expertise</label>
                           <div class="col-sm-9"><input type="text" class="form-control" id="inputRoom" placeholder="" value="303"></div>
                        </div>
                        <div class="form-group row clearfix">
                           <label for="inputOccupation" class="col-sm-3 control-label">Government Servant</label>
                           <div class="col-sm-9"><input type="text" class="form-control" id="inputOccupation" placeholder="" value="Front End Web Developer"></div>
                        </div>
                         <div class="form-group row clearfix">
                           <label for="inputOccupation" class="col-sm-3 control-label">General OPD</label>
                           <div class="col-sm-9"><input type="text" class="form-control" id="inputOccupation" placeholder="" value="Front End Web Developer"></div>
                        </div>
                     </div>
                  </div>
                  <h3 class="page-header">Change Password</h3>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group row clearfix">
                           <label for="inputPassword" class="col-sm-3 control-label">Password</label>
                           <div class="col-sm-9"><input type="password" class="form-control" id="inputPassword" placeholder="" value="12345678"></div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group row clearfix">
                           <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>
                           <div class="col-sm-9"><input type="password" class="form-control" id="inputConfirmPassword" placeholder=""></div>
                        </div>
                     </div>
                  </div>
                  <h3 class="page-header">Contact Information</h3>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group row clearfix">
                           <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                           <div class="col-sm-9"><input type="email" class="form-control" id="inputEmail3" placeholder="" value="contact@akveo.com"></div>
                        </div>
                        <div class="form-group row clearfix">
                           <label for="inputPhone" class="col-sm-3 control-label">Mobile</label>
                           <div class="col-sm-9"><input type="text" class="form-control" id="inputPhone" placeholder="" value="+1 (23) 456 7890"></div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group row clearfix">
                           <label for="inputRoom" class="col-sm-3 control-label">Clinic Name</label>
                           <div class="col-sm-9"><input type="text" class="form-control" id="inputRoom" placeholder="" value="303"></div>
                        </div>
                         
                        <div class="form-group row clearfix">
                           <label for="inputRoom" class="col-sm-3 control-label">Clinic Address</label>
                           <div class="col-sm-9"><input type="text" class="form-control" id="inputRoom" placeholder="" value="303"></div>
                        </div>
                     </div>
                  </div>
                   
                   <h3 class="page-header">Personal Information</h3>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group row clearfix">
                           <label for="inputEmail3" class="col-sm-3 control-label">Adhaar Number</label>
                           <div class="col-sm-9"><input type="email" class="form-control" id="inputEmail3" placeholder="" value="123456789875"></div>
                        </div>
                        <div class="form-group row clearfix">
                           <label for="inputPhone" class="col-sm-3 control-label">Home Address</label>
                           <div class="col-sm-9"><input type="text" class="form-control" id="inputPhone" placeholder="" value="Delhi"></div>
                        </div>
                          <div class="form-group row clearfix">
                           <label for="inputPhone" class="col-sm-3 control-label">Gender</label>
                           <div class="col-sm-9"><input type="text" class="form-control" id="inputPhone" placeholder="" value="Female"></div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group row clearfix">
                           <label for="inputRoom" class="col-sm-3 control-label">Highest Qualification</label>
                           <div class="col-sm-9"><input type="text" class="form-control" id="inputRoom" placeholder="" value="MBBS"></div>
                        </div>
                         
                        <div class="form-group row clearfix">
                           <label for="inputRoom" class="col-sm-3 control-label">DOB</label>
                           <div class="col-sm-9"><input type="text" class="form-control" id="inputRoom" placeholder="" value="303"></div>
                        </div>
                         <div class="form-group row clearfix">
                           <label for="inputRoom" class="col-sm-3 control-label">Description</label>
                           <div class="col-sm-9"><input type="text" class="form-control" id="inputRoom" placeholder="" value="simple, creative, social person."></div>
                        </div>
                     </div>
                  </div>
                   
                  <button type="button" class="btn btn-primary btn-with-icon save-profile"><i class="ion-android-checkmark-circle"></i>Update Profile</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>