<div class="container">
	<h3 style="margin-left: 32%;">Doctor SignUp</h3>

	<form name="doctorForm" class="form form-horizontal"
		novalidate="novalidate">
		<div class="form-group has-feedback "
			ng-class="{'has-success' : doctorForm.name.$dirty && doctorForm.name.$valid ,
			 'has-error' : doctorForm.name.$dirty && doctorForm.name.$invalid}">
			<label class="control-label col-sm-2" for="inputError2">
				Name:</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="inputError2" name="name"
					ng-model="doctor.name" placeholder="Enter name"
					ng-blur="doBlurName($event)" valid-Name>

				<div class="help-inline">
					<span ng-show="!!doctorForm.name.$error.isBlank"><b
						style="color: red;">Doctor Name Required.</b></span> <span
						ng-show="!!doctorForm.name.$error.invalidChars"><b
						style="color: red;">Doctor Name must contain letters &amp;
							spaces only.</b></span> <span ng-show="!!doctorForm.name.$error.invalidLen"><b
						style="color: red;">Doctor Name must be 3-20 characters.</b></span> <span
						class="glyphicon glyphicon-ok form-control-feedback"
						style="color: green;" ng-show="doctorForm.name.$valid"></span>
				</div>
			</div>
		</div>

		<div class="form-group has-feedback "
			ng-class="{'has-success' : doctorForm.mobile.$dirty && doctorForm.mobile.$valid ,
			 'has-error' : doctorForm.mobile.$dirty && doctorForm.mobile.$invalid}">
			<label class="control-label col-sm-2" for="inputError2">
				Mobile Number :</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="mobile" name="mobile"
					ng-model="doctor.mobile" placeholder="Enter Mobile Number"
					ng-blur="doBlurMobile($event)" valid-Mobile />

				<div class="help-inline">
					<span ng-show="!!doctorForm.mobile.$error.isBlank"><b
						style="color: red;">Doctor mobile number Required.</b></span> <span
						ng-show="!!doctorForm.mobile.$error.invalidChars"><b
						style="color: red;">Doctor mobile number must contain numbers
							only.</b></span> <span ng-show="!!doctorForm.mobile.$error.invalidLen"><b
						style="color: red;">Doctor mobile number must be 10 digits.</b></span><span
						class="glyphicon glyphicon-ok form-control-feedback"
						style="color: green;" ng-show="doctorForm.mobile.$valid"></span>
				</div>
			</div>
		</div>

		<div class="form-group has-feedback "
			ng-class="{'has-success' : doctorForm.adhar.$dirty && doctorForm.adhar.$valid ,
			 'has-error' : doctorForm.adhar.$dirty && doctorForm.adhar.$invalid}">
			<label class="control-label col-sm-2" for="name"> Adhar
				Number:</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="adhar" name="adhar"
					ng-model="doctor.aadhaarNumber"
					placeholder="Enter Adhar Number" ng-blur="doBlurAdhar($event)"
					valid-Adhar />

				<div class="help-inline">
					<span ng-show="!!doctorForm.adhar.$error.isBlank"><b
						style="color: red;">Doctor adhar number Required.</b></span> <span
						ng-show="!!doctorForm.adhar.$error.invalidChars"><b
						style="color: red;">Doctor adhar number must contain numbers
							only.</b></span> <span ng-show="!!doctorForm.adhar.$error.invalidLen"><b
						style="color: red;">Doctor adhar number must be 12 digits.</b></span><span
						class="glyphicon glyphicon-ok form-control-feedback"
						style="color: green;" ng-show="doctorForm.adhar.$valid"></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Email:</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="email"
					ng-model="doctor.email" placeholder="Enter Email">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Age:</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="email"
					ng-model="doctor.age" placeholder="Enter Age">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="name"> Gender:</label>
			<div class="control-label col-sm-2" style="margin-top: -1%;">
				<label class="radio-inline"> <input type="radio"
					name="optradio1" ng-model="doctor.gender" ng-value='1' />Male
				</label> <label class="radio-inline"> <input type="radio"
					name="optradio1" ng-model="doctor.gender" ng-value='0' />Female
				</label>
			</div>
		</div>
		<div class="form-group" ng-show="formAllGood()"></div>
		<div class="form-group">
			<div class="control-label col-sm-4">
				<button class="btn btn-primary"
					ng-click="doctorAdd(doctor, 'doctorForm')">
					<span class="glyphicon glyphicon-ok-circle"></span> Register
				</button>
			</div>
		</div>
	</form>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/>