<div class="control-label">{{message}}</div>
<div class=" control-label">What you want to do...!!!</div>
<div class="control-label">
	<label class="radio-inline"><input type="radio"
		ng-change="newValue('update')" name="drDeleteUpdate" value="update"
		ng-model="value">Update</label> <label class="radio-inline"><input
		type="radio" ng-change="newValue('delete')" name="drDeleteUpdate"
		value="delete" ng-model="value">Delete</label>
</div>

<div ng-show="drUpdate">

	<br> <br>
	<div ng-include="'/html/updateDoctor.html'"></div>
</div>

<div ng-show="drDelete">

	<div ng-include="'/html/deleteDoctor.html'"></div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
