<div class="container">
	<br /> <br /> <br />
	<!-- <h3>
		<center>Get Doctor Details</center>
	</h3> -->
	<br />
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="control-label col-sm-2" for="name">Doctor Id:</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="name"
					ng-model="doctor.doctorId" placeholder="Enter name">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Name:</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="mobile"
					ng-model="doctor.doctorName" placeholder="Enter mobile number">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Mobile
				Number:</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="mobile"
					ng-model="doctor.doctorMobileNumber"
					placeholder="Enter mobile number">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Adhaar
				Number:</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="adhaar"
					ng-model="doctor.doctorAdharNumber"
					placeholder="Enter adhaar number">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Expertise:</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="email"
					ng-model="doctor.doctorExpertise" placeholder="Enter Email Id">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Consultancy
				Fee:</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="email"
					ng-model="doctor.doctorFees" placeholder="Enter Email Id">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-info" data-toggle="modal"
					data-target="#myModal">
					<span class="glyphicon glyphicon-chevron-right"></span> Get Doctor
				</button>
			</div>
		</div>
	</form>


	<!-- Modal -->
	<div class="container">
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Your Details</h4>
					</div>
					<table class="modal-body" border="1">
						<tr>
							<th>Doctor Id</th>
							<th>Doctor Name</th>
							<th>Doctor Mobile number</th>
							<th>Doctor Adhaar Number</th>
							<th>Doctor Expertise</th>
							<th>Doctor Consultancy Fee</th>
						</tr>
						<tr ng-repeat="customer in customers">
							<td>{{doctor.doctorId}}</td>
							<td>{{doctor.doctorName}}</td>
							<td>{{doctor.doctorMobileNumber}}</td>
							<td>{{doctor.doctorAdharNumber}}</td>
							<td>{{doctor.doctorExpertise}}</td>
							<td>{{doctor.doctorFees}}</td>
						</tr>
					</table>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>