<div class="container">
	<div id="loginbox" style="margin-top: 50px;"
		class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<!-- ----------------------------------------------- -->
		<div class="row">
			<div class="col-sm-12 nav-tab-holder" style="width: 97.5%;">
				<ul class="nav nav-tabs row" role="tablist">
					<li role="presentation" class="active col-sm-6"><a
						href="#loginPage" aria-controls="home" role="tab"
						data-toggle="tab">Doctor</a></li>
					<li role="presentation" class="col-sm-6"><a
						href="#patientLogin" aria-controls="profile" role="tab"
						data-toggle="tab">Patient</a></li>
				</ul>
			</div>
		</div>
		<!-- ----------------------------------------------- -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Sign In</div>
				<div
					style="float: right; font-size: 80%; position: relative; top: -10px"
					data-toggle="modal" data-target="#myModal">
					<a href="">Forgot password?</a>
				</div>
			</div>

			<!-- ----------------------------POP UP----------------------------------- -->
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">
					<div style="width: 90%; margin-left: 10%;" class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								ng-click="close()">&times;</button>
							<h4 class="modal-title">Forget Password</h4>
						</div>

						<div class="modal-body">

							<form name="doctorForm" class="form-horizontal" role="form"
								style="margin-left: 20%;">
								<!-- ---------------------------------- -->
								<div class="col-sm-8">
									<div class="form-group has-feedback "
										ng-class="{'has-success' : doctorForm.aadhaarNumber.$dirty && doctorForm.aadhaarNumber.$valid ,
                        'has-error' : doctorForm.aadhaarNumber.$dirty && doctorForm.aadhaarNumber.$invalid}">
										<input type="text" class="form-control" id="inputError2"
											name="aadhaarNumber" ng-model="doctor.aadhaarNumber"
											placeholder="Enter aadhaar number" valid-Adhar>
										<!-- ng-blur="doBlurAdhar($event)"-->
										<div class="help-inline">
											<span ng-show="!!doctorForm.aadhaarNumber.$error.isBlank"><b
												style="color: red;">Aadhaar number Required.</b></span> <span
												ng-show="!!doctorForm.aadhaarNumber.$error.invalidChars"><b
												style="color: red;">Aadhaar number must contain numbers
													only.</b></span> <span
												ng-show="!!doctorForm.aadhaarNumber.$error.invalidLen"><b
												style="color: red;">Aadhaar number must be 12 digits.</b></span>
											<div ng-if="doctorForm.aadhaarNumber.$invalid == true">
												<span
													class="glyphicon glyphicon-remove form-control-feedback"
													style="color: red;"
													ng-show="!!doctorForm.aadhaarNumber.$error.isBlank || !!doctorForm.aadhaarNumber.$error.invalidChars || !!doctorForm.aadhaarNumber.$error.invalidLen"></span>
											</div>
											<div ng-if="doctorForm.aadhaarNumber.$pristine == false">
												<span class="glyphicon glyphicon-ok form-control-feedback"
													style="color: green;"
													ng-show="!doctorForm.aadhaarNumber.$error.isBlank && !doctorForm.aadhaarNumber.$error.invalidChars && !doctorForm.aadhaarNumber.$error.invalidLen"></span>
											</div>
										</div>
									</div>
								</div>

								<!-- ------------------------------------ -->

								<div class="form-group">
									<!-- ----------use to disable submit button ------>
									<div class="col-sm-offset-1 col-sm-4">
										<input type="submit" class="btn btn-success btn-block"
											data-toggle="modal" data-target="#myModal1"
											ng-disabled="!doctorForm.$valid || doctorForm.$pristine"
											value="SUBMIT">
										<!-- ----------use to disable submit button ------>
									</div>
									<!-- <div class="col-sm-offset-0 col-sm-10">
										<button type="button" ng-click="searchDoctor(doctor)"
											class="btn btn-success" data-toggle="modal" ng-disabled="!doctorForm.$valid || doctorForm.$pristine"
											data-target="#myModal1">
											<span class="glyphicon glyphicon-ok-circle"></span> Submit
										</button>
									</div> -->
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" ng-click="close()">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- ----------------------------POP UP----------------------------------- -->
			<div class="modal fade" id="myModal1" role="dialog">
				<div class="modal-dialog">
					<div style="width: 90%; margin-left: 10%;" class="modal-content">
						<div class="modal-body">
							<p>Please check Your Email Id</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" ng-click="close()">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- ----------------------------POP UP----------------------------------- -->

			<div style="padding-top: 30px" class="panel-body">

				<div style="display: none" id="login-alert"
					class="alert alert-danger col-sm-12"></div>

				<form id="loginform" class="form-horizontal" role="form"
					name="loginForm">

					<div style="margin-bottom: 25px;" class="input-group has-feedback "
						ng-class="{'has-success' : loginForm.email.$dirty && loginForm.email.$valid ,
                        'has-error' : loginForm.email.$dirty && loginForm.email.$invalid}">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-user"></i></span> <input type="email"
							class="form-control" id="inputError2" name="email"
							ng-model="loginDetail.email" placeholder="Enter email"
							ng-blur="doBlurEmail($event)" valid-Email>
						<div class="help-inline">
							<span ng-show="!!loginForm.email.$error.isBlank"><i
								style="color: red;">Doctor Email Required.</i></span> <span
								ng-show="!!loginForm.email.$error.invalidChars"><i
								style="color: red;">Doctor Email must contain @ & dot(.) .</i></span> <span
								ng-show="!!loginForm.email.$error.invalidLen"><i
								style="color: red;">Doctor Email must be use dot(.) &
									characters.</i></span>
							<div ng-if="loginForm.email.$invalid == true">
								<span class="glyphicon glyphicon-remove form-control-feedback"
									style="color: red;"
									ng-show="!!loginForm.email.$error.isBlank || !!loginForm.email.$error.invalidChars || !!loginForm.email.$error.invalidLen"></span>
							</div>
							<div ng-if="loginForm.email.$pristine == false">
								<span class="glyphicon glyphicon-ok form-control-feedback"
									style="color: green;"
									ng-show="!loginForm.email.$error.isBlank && !loginForm.email.$error.invalidChars && !loginForm.email.$error.invalidLen"></span>
							</div>
						</div>
					</div>

					<div style="margin-bottom: 25px;" class="input-group has-feedback "
						ng-class="{'has-success' : loginForm.password.$dirty && loginForm.password.$valid ,
                        'has-error' : loginForm.password.$dirty && loginForm.password.$invalid}">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-lock"></i></span> <input type="password"
							class="form-control" id="inputError2" name="password"
							ng-model="loginDetail.password" placeholder="Enter password"
							ng-blur="doBlurPassword($event)" valid-Password>
						<div class="help-inline">
							<span ng-show="!!loginForm.password.$error.isBlank"><i
								style="color: red;">Password required.</i></span> <span
								ng-show="!!loginForm.password.$error.invalidChars"><i
								style="color: red;">Incorrect password.</i></span> <span
								ng-show="!!loginForm.password.$error.invalidLen"><i
								style="color: red;">Incorrect password.</i></span>
							<div ng-if="loginForm.password.$invalid == true">
								<span class="glyphicon glyphicon-remove form-control-feedback"
									style="color: red;"
									ng-show="!!loginForm.password.$error.isBlank || !!loginForm.password.$error.invalidChars || !!loginForm.password.$error.invalidLen"></span>
							</div>
							<div ng-if="loginForm.password.$pristine == false">
								<span class="glyphicon glyphicon-ok form-control-feedback"
									style="color: green;"
									ng-show="!loginForm.password.$error.isBlank && !loginForm.password.$error.invalidChars && !loginForm.password.$error.invalidLen"></span>
							</div>
						</div>
					</div>
					<!-- ---------------------------------------------------------------- -->
					<div class="input-group">
						<div class="checkbox">
							<label> <input id="login-remember" type="checkbox"
								name="remember" value="1"> Remember me
							</label>
						</div>
					</div>
					<!-- ---------------------------------------------------------------- -->
					<div class="form-group">
						<div class="control-label col-sm-4">
							<button class="btn btn-primary"
								ng-click="doctorLogin(loginDetail)">
								<span class="glyphicon glyphicon-ok-circle"></span> Log In
							</button>
							{{message}}
						</div>
					</div>
					<!-- ---------------------------------------------------------------- -->
					<div class="form-group">
						<div class="col-md-12 control">
							<div
								style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
								Don't have an account! <a href="#/doctorRegistration" onClick=""><u>
										Sign Up Here</u></a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="signupbox" style="display: none; margin-top: 50px"
		class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Sign Up</div>
				<div
					style="float: right; font-size: 85%; position: relative; top: -10px">
					<a id="signinlink" href="" onclick="">Sign In</a>
				</div>
			</div>
			<div class="panel-body">
				<form id="signupform" class="form-horizontal" role="form">

					<div id="signupalert" style="display: none"
						class="alert alert-danger">
						<p>Error:</p>
						<span></span>
					</div>
					<div class="form-group">
						<label for="email" class="col-md-3 control-label">Email</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="email"
								placeholder="Email Address">
						</div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-md-3 control-label">First
							Name</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="firstname"
								placeholder="First Name">
						</div>
					</div>
					<div class="form-group">
						<label for="lastname" class="col-md-3 control-label">Last
							Name</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="lastname"
								placeholder="Last Name">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-3 control-label">Password</label>
						<div class="col-md-9">
							<input type="password" class="form-control" name="passwd"
								placeholder="Password">
						</div>
					</div>

					<div class="form-group">
						<label for="icode" class="col-md-3 control-label">Invitation
							Code</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="icode"
								placeholder="">
						</div>
					</div>

					<div class="form-group">
						Button
						<div class="col-md-offset-3 col-md-9">
							<button id="btn-signup" type="button" class="btn btn-info">
								<i class="icon-hand-right"></i> &nbsp Sign Up
							</button>
							<span style="margin-left: 8px;">or</span>
						</div>
					</div>

					<div style="border-top: 1px solid #999; padding-top: 20px"
						class="form-group">

						<div class="col-md-offset-3 col-md-9">
							<button id="btn-fbsignup" type="button" class="btn btn-primary">
								<i class="icon-facebook"></i>   Sign Up with Facebook
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>