<div class="container">
	<div>
		<form class="form-horizontal" role="form">

			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Doctor Id:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="name"
						ng-model="doctor.doctorId" placeholder="Enter Id">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Mobile
					Number:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="mobile"
						ng-model="doctor.doctorMobileNumber"
						placeholder="Enter mobile number">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Adhaar
					Number:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="adhaar"
						ng-model="doctor.doctorAdharNumber"
						placeholder="Enter adhaar number">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" ng-click="demo(doctor)"
						class="btn btn-success" data-toggle="modal" data-target="#myModal">
						<span class="glyphicon glyphicon-search"></span> Search Doctor
					</button>
				</div>
			</div>
		</form>

		<!-- -------------MODEL------- -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Doctor Update</h4>
					</div>
					<div class="modal-body">
						<div ng-show="modalBody">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="control-label col-sm-2" for="name">Doctor
										Id:</label>
									<div class="col-sm-5">
										<input type="text" ng-readonly="true" class="form-control"
											id="name" ng-model="doctors.doctorId">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="name">Name:</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="name"
											ng-model="doctors.doctorName">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="name">Mobile
										Number:</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="name"
											ng-model="doctors.doctorNumber">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2" for="name"> Adhar
										Number:</label>
									<div class="col-sm-5">
										<input type="text" ng-readonly="true" class="form-control"
											id="name" ng-model="doctors.doctorAdhaarNumber">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2" for="name">Highest
										Degree:</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="name"
											ng-model="doctors.doctorHighestDegree">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-2" for="name">Goverment
										Servent:</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="name"
											ng-model="doctors.doctorGovtServent">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="name">Home
										Address:</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="name"
											ng-model="doctors.doctorHomeAddress">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="name">Expertise:</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="name"
											ng-model="doctors.doctorExpertized">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="name">Shop
										Address:</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="name"
											ng-model="doctors.doctorShopAddress">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="name">Consulting
										Fees:</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="name"
											ng-model="doctors.doctorOneTimeConsultingFee">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="name">Free
										Days:</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="name"
											ng-model="doctors.doctorDaystoCheckFreeInConsultingFee">
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button class="btn btn-success"
											ng-click="doctorUpdate(doctors)" data-toggle="modal"
											data-target="#myModal1">
											<span class="glyphicon glyphicon-circle-arrow-right"></span>
											Update Doctor
										</button>
									</div>
								</div>
							</form>
						</div>
						{{modalBodyMsg}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="myModal1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Doctor Update</h4>
					</div>
					<div class="modal-body">
						<p>{{doctorUpdate}}</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>