<div id="middle_box">
	<img src="/images/internal_medicine_zhanna_tsukerman.jpg"
		style="width: 900px; height: 208px;" />
</div>

<!-----------------------------Middle Box---------------------->

<div
	style="width: 900px; height: 400px; background: linear-gradient(#c4dafc, #f6f6f6);">
	<div class="box_title">
		<div class="title_icon">
			<img src="/images/mini_icon1.gif" alt="" title="" />
		</div>
		<h2>
			Forgot <span class="dark_blue">Password</span>
		</h2>
	</div>
	<br /> <br /> <br />
	<div class="box_text_content" style="margin-left: 15%;">
		<div
			style="width: 700px; margin-left: -10%; font-size: 110%; font-style: oblique;">
			<div class="container">

				<form class="form form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Mobile
							Number:</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="name"
								ng-model="doctors.mobile" placeholder="Enter Mobile">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="name"> Adhar
							Number:</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="name"
								ng-model="doctors.aadhaarNumber" placeholder="Enter Adhaar">
						</div>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-4">
							<button class="btn btn-primary"
								ng-click="submit(loginDetail)">
								<span class="glyphicon glyphicon-ok-circle"></span> Submit
							</button>
							{{message}}
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
<div class="clear"></div>

<!-- <div class="dashboard">
	<br>
	

	<div class="container" style="margin-top: 5%; text-align: center;">
	<form class="form form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" for="name">Mobile
				Number:</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="name"
					ng-model="doctors.mobile" placeholder="Enter Mobile">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="name"> Adhar
				Number:</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="name"
					ng-model="doctors.aadhaarNumber" placeholder="Enter Adhaar">
			</div>
		</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<button class="btn btn-success" ng-click="doctorUpdate(doctors)"
						data-toggle="modal" data-target="#myModal1">
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
						Submit
					</button>
					<b>{{successMessage}}</b>
				</div>
			</div>
		</form>
	</div>



	<br> <br> <br> <br> <br> <br> <br> <br>
	<br> <br> <br> <br> <br> <br> <br> <br>
</div> -->