body{
	
	/* background-color: #3c6f80; */
	background: linear-gradient(#F8F7F3, #3c6f80);
	
	
}

table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

table tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table tr:nth-child(even) {
	background-color: #ffffff;
}

div.clickText{
	
	margin-top:1.2%;
	margin-left: 10%;
}

div.clickText a {
	
	font-weight: bolder;
	font-family: serif;
	font-size-adjust: none;
	font-style: italic;
	color: #325C6A;
}

div.clickText a:HOVER {

	/* font-size: 25%; */
	color: red;
}

div.addForm{
	margin-top: 1.5%;
	margin-left: 25%;
}

div.para {
	
	margin-left: 10%;
	margin-top: 1.2%;
	font-size: 125%;
	font-style: italic;
}