table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

table tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table tr:nth-child(even) {
	background-color: #ffffff;
}

div.clickText{
	
	margin-top:1.2%;
	margin-left: 10%;
}

div.addForm{
	margin-top: 1.5%;
	margin-left: 10%;
}