body {
    background-repeat: no-repeat;
	background-size:100% 36%;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: -4%;
	
}

li {
    float: right;
}

li a {
	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}

li a:hover {
    background-color: #111;
} */

div.box{
	
	background-color:325C6A;
	/*margin-top:-1.2%;*/
	opacity:0.8;
	//height:91.8%;
	width:100%;
	height:92%;
	z-index: 2;
}

div.box p {
  
  font-weight: 750;
  font-size:180%;
  color: #FFF;
  display: block;
  text-align: center;
  margin-left:7%;
  margin-right:7%;
  
}

div.box img{
	
	height:20%;
	margin-left:25%;
	margin-top:7%;
}

/* div.menu{
	width:100%;
	height:9%;
	border:1px;
	background-color:325C6A;
	opacity:0.9;
}

div.menu img{
	
	margin-left:7%;
}

div.menu ul{
	
	margin-right:7%;
} */

#container {
	
	color:#000;
    width:100%;
    text-align:center;
}

#left {
	
	margin-left:7%;
    float:left;
   
}

#center {
	
    display: inline-block;
    margin:0 auto;
    width:100px;
}

#right {
	
	margin-right:15%;
    float:right;
    width:100px;
}

#patient{
	
	width:100%;
	height:45%;
	background:#EEEEEE;
	
}

#patient-text{
	
	color:#000;
	font-size:150%;
	margin-left:10%;
	transform: translateY(55%);
}

#msg1{
	
	margin-left:7%;
	margin-top:5%;
    float:left;
	width:20%;
	height:35%;
	background:white;
	color:gray;
}

#msg2{
	
	float:center;
	display: inline-block;
    //margin:0 auto;
	margin-top:5%;
	margin-left:9%;
    width:20%;
	height:35%;
	background:white;
	color:gray;
}

#msg3{
	
	margin-right:15%;
    float:right;
    width:100px;
	margin-top:5%;
    width:20%;
	height:35%;
	background:white;
	color:gray;
}

#section{
	
	width:100%;
	height:35%;
	background:black;
	
}

#about-us{
	
	margin-left:20%;
	font-size:200%;
	color:white;
	vertical-align:middle;
	transform: translateY(75%);
}

#content{
	
	//float: right;
	margin-left:45%;
	padding: 2cm 4cm 3cm 4cm;
	margin-top:-10%;
	color:998B71;
	display: inline-block;
	font-size:125%;
	word-wrap: break-word;
	overflow-x: auto; 
}

#contact{
	
	width:100%;
	height:50%;
}

#contact-us{

	color:#000;
	font-size:175%;
	margin-left:7%;
	transform: translateY(75%);
}

#contact-us-1{
	
	color:#000;
	margin-left:12%;
	transform: translateY(205%);
}

#contact-us-2{
	
	float:right;
	color:#000;
	margin-right:15%;
	transform: translateY(105%);
}

#contact-us-3{
	
	color:#000;
	margin-left:40%;
	transform: translateY(105%);
}

/* #footer{
	
	width:100%;
	height:7%;
	background-color:#325C6A;
}

#footer-follow{
	
	margin-left:7%;
	color:#fff;
	transform: translateY(75%);
}

#footer-copyright{
	
	float:right;
	margin-right:15%;
	color:#fff;
} */